<div class="row">
    <div class='col-md-6 offset-md-3 card card-body bg-light'>
        <form method='post' action='/candidates/add'>
            <input type='text' name='firstName' class='form-control' placeholder="First Name" />
            <br />
            <input type='text' name='lastName' class='form-control' placeholder="Last Name" />
            <br />
            <input type='text' name='phone' class='form-control' placeholder="Phone"/>
            <br />
            <input type='text' name='email' class='form-control' placeholder="Email"/>
            <br />
            <textarea rows='6' class="form-control" placeholder="Random Notes" name="notes"></textarea>
            <button class='btn btn-primary btn-block'>Submit</button>
        </form>
    </div>
</div>
